.planWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 40px;
  max-width: 300px;
  min-width: 200px;
  background-color: #3d3d3d;
  border-radius: 5px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.featuresMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.planWrapper hr {
  width: 100%;
}